# === Python / Django стандартное ===
__pycache__/
*.py[codz]
*$py.class

# SQLite база
db.sqlite3
db.sqlite3-journal

# Логи
*.log

# Локальные настройки
local_settings.py
.env
.env.*

# === Виртуалки и окружения ===
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/

# === Django статика и медиа ===
/static/
/staticfiles/
/media/


# === IDE ===
.vscode/
.idea/
.spyderproject
.spyproject
.ropeproject

# === Тесты / кеши ===
*.cover
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.mo
*.pot
*.pyc
.pytest_cache/
migrations/__pycache__/
*.egg-info/

# === Мypy / Ruff ===
.mypy_cache/
.ruff_cache/

# === Jupyter ===
.ipynb_checkpoints/

# === Docs / build ===
docs/_build/
build/
dist/
